.App {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 100%;
  flex-direction: column;
}

.App-outside {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.college-card{
  border: solid 3px blue;
}

.footer{
  width: 100rem;
  font-size: 100%;
  font-style: italic;
}

.profile{
    border-radius: 50%;
    border: solid 3px white;
    margin-left: 110px ;
    margin-right: 110px ;
    width: 125px;
}
.weather-header {
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 100%;
}

.weather-grid {
  height: 500px;
  width: 100%;
}

.navbar {
  border-style: solid;
  border-color: grey;
  text-align: center;
  width: 100%;
}

.winner-bar {
  display: flex;
  /* background: red; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

